# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\cacac\OneDrive\Documentos\Documentos U\2020-2\Maquinas Abstractas y Lenguajes Formales\Tareas\Tarea 1\Tarea1MALF\Tarea1P2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
